* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body * {
	/* border: 1px solid black; */
	font-family: "Raleway", sans-serif;
}

a {
	text-decoration: none;
}

/* main */

main {
	height: 100vh;
	z-index: -1;
	width: 100%;
}

.landing-wrap {
	margin: 140px 0 75px 0;
}

.day-wrap {
	margin: 140px 0 0 0;
}

.video-wrap,
.img-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

video,
img {
	width: 80%;
}

video::-webkit-media-controls-panel {
	background-color: transparent !important;
	box-shadow: none !important;
}

.text-wrap {
	padding: 25px 50px;
	text-align: center;
	line-height: 1.6;
}

/* links */

.links-wrap {
	margin: 30px 0;
	padding-bottom: 100px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.day-link {
	width: 36%;
	margin: 20px 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.day-link img {
	width: 100%;
}

.day-link:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out;
}

/* whatsapp */

.whatsapp-icon {
	position: fixed;
	bottom: 100px;
	right: 25px;
}

.whatsapp-icon img {
	width: 60px;
	border-radius: 100%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* header */

.logodata {
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
}

/* footer */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ef5f39;
}

.footer-box {
	color: white;
	font-size: 10px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-box a {
	color: white;
}
